<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create a Project</title>
</head>
<body>
<h1>Project Creation Form</h1>
<form action="#" th:action="@{/create}" th:object="${p}" method="post">
    <label for="sponsorSelect">Select the sponsor:</label>
    <select id="sponsorSelect" th:field="*{Sponsor}" th:required="required">
        <option th:each="sponsor : ${sponsorList}" th:value="${sponsor.id}" th:text="${sponsor.Name}"></option>
    </select>
    <br/>
    <label  for="itemSelect">Select the item:</label>
    <select id="itemSelect" th:field="*{Item}" th:required="required">
        <option th:each="item : ${itemList}" th:value="${item.id}" th:text="${item.Type}"></option>
    </select>
    <br/>
    <label  for="locationSelect">Select the location:</label>
    <select id="locationSelect" th:field="*{Location}" th:required="required">
        <option th:each="location : ${locationList}" th:value="${location.id}" th:text="${location.Street}"></option>
    </select>
    <br/>
    <label for="quantity">Quantity:</label>
    <input id="quantity"  th:type="number" th:field="*{Quantity}" min="1"/>
    <br/>
    <label for="price">Price:</label>
    <input id="price" th:type="number" th:field="*{Price}" min="1"/>


    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>