body,html {
    height: 100%;
}

#nav-trans{
    background-color: #ffffff;
    border-color: transparent;
}

#homepage-navbar a{
    color: black;
}

#slogan{
    text-align: center;
    line-height: 200px;
    font-size: 6vw;
    color: black;
    vertical-align: middle;
}

#ssblurb{
    text-align: left;
    color: black;
}


@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}
.parallax {
    /* The image used */
    background-image: url("studying.jpg");

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("cup3.jpg");

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

