<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sponsors</title>
</head>
<body>
    <p th:each="sponsor : ${sponsors}">
        <a th:href="@{/sponsors/{id}(id=${sponsor.Id})}"><span th:text="${sponsor.Name}"/></a>
    </p>

    <h1>Add a Sponsor</h1>
    <form action="#" th:action="@{/sponsors/}" th:object="${sponsor}" method="post">
        <table>
            <tr>
                <td>Name: </td>
                <td><input type="text" th:field="*{Name}" /></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
            </tr>
            <tr>
                <td>Type: </td>
                <td><input type="text" th:field="*{Type}" /></td>
                <td th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Type Error</td>
            </tr>
            <tr>
                <td>Size: </td>
                <td>
                    <select th:field="*{Size}" th:required="required">
                        <option th:value="s" th:text="Small"/>
                        <option th:value="m" th:text="Medium"/>
                        <option th:value="l" th:text="Large"/>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></td>
            </tr>
        </table>
    </form>
</body>

</html>