<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sponsors</title>
</head>
<body>
    <tr th:each="sponsor : ${sponsors}">
        <a th:href="@{/sponsors/{id}(id=${sponsor.Id})}"><td th:text="${sponsor.Name}"></td></a>
    </tr>

    <h1>Add a Sponsor</h1>
    <form action="#" th:action="@{/sponsors/}" th:object="${s}" method="post">
        <p>Name: <input type="text" th:field="*{Name}" /></p>
        <p>Type: <input type="text" th:field="*{Type}" /></p>
        <p>Size: <select th:field="*{Size}" th:required="required">
            <option th:value="s" th:text="Small"/>
            <option th:value="m" th:text="Medium"/>
            <option th:value="l" th:text="Large"/>
            </select>
        </p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>

</html>